.stories_carousel .div_carousel .slick-slider .style_carousel{
    border: 1px solid rgb(218, 219, 221);
    padding: 20px;
    background-color: white;
    min-height: 360px;

}

.stories_carousel .div_carousel .slick-slider .style_carousel .name {
    font-size: 12px;
    font-weight: 700;
    color: #62646a;
}

.stories_carousel .div_carousel .slick-slider .style_carousel .decs {
    font-size: 28px;
    color: #222325;
    font-weight: 600;
}