.header_profileUser {
    border-bottom: 1px solid #e4e5e7;    
}

.inforUser_profile  {
    background-color: #fcfafa;
}


.profileUser_btn_logout button {
    font-size: 20px;
    font-weight: 700;
    color: rgb(116, 116, 112);
    &:hover {
        color: rgb(36, 215, 108);
    }
}

.title_profileUser h3 {
    font-size: 25px;
    font-weight: 600;
}

.infor_profile_user p {
    text-align: center;
    font-weight: 600;
    color: rgb(66, 66, 64);
    padding: 3px 0;
}

.moadl_edit_infor .ant-modal-content .ant-modal-footer {
    display: none;
}

.input_update_avatar input[type="file"] {
    display: none;
    // visibility: hidden;
}
.input_update_avatar label {
    display: inline-block;
    color: black;
    border: 1px solid #b3b2b2;
    border-radius: 5px;
    padding: 2px 10px;
    transition: all 0.3s;
    font-size: 14px;
    &:hover {
        border: rgb(23, 215, 23) 1px solid;
        color: rgb(23, 215, 23) ;
        cursor: pointer;
    }
}

.item_skill span {
    border: #17a483 1px solid;
    color: #17a483;
    border-radius: 10px;
    padding: 0 5px;
    font-weight: 600;
}

.item_certification span {
    border: #5ba0dc 1px solid;
    color: #5ba0dc;
    border-radius: 10px;
    padding: 0 5px;
    font-weight: 600;
}