.slider-wrapper {
    padding: 0 20px; /* Khoảng cách tổng thể của slider */
  }
  
  .slick-slide {
    padding: 0 10px; /* Khoảng cách giữa các slide */
  }
  
  .slider-item {
    margin: 0 auto; /* Điều chỉnh vị trí của từng item */
  }
 .customeborder{
    border-radius: 16px;
    margin: 12px 4px;
    min-height: 235px;
    padding: 25px 6px 6px;
    width: 188px;
 }
 
 


.slick-prev:before, .slick-next:before {
  font-size: 40px;
  color: black;

}



 .text{
    font-size: 18px;
    line-height: 28px;
}
 .colorimg5{
    background-color: #687200;
 }
 .colorimg6 {
    background-color: #421300;
 }
.colorimg7{
    background-color: #254200;
}
.colorimg9{
    background-color: #687200;
}
.tLUiXHr {
    background-color: #003912;
}
.Pr8Nkbn {
    background-color: #ff7640;
}