.become_container {
    background-color: #f7f7f7;
}
.become_content h3 {
    font-weight: 600;
    font-size: 22px;
    color: #555555;
}
.become_content p {
    font-size: 18px;
    color: #62646A;
}